altgraph==0.17.3
certifi==2023.5.7
chardet==3.0.4
contourpy==1.1.0
cycler==0.11.0
dnspython==2.4.1
et-xmlfile==1.1.0
fonttools==4.41.0
greenlet==2.0.2
idna==2.10
joblib==1.2.0
kids.cache==0.0.7
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.0
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
pandasql==0.7.3
pefile==2023.2.7
Pillow==9.5.0
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pymongo==4.4.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt5Designer==5.14.1
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
PyQtDataVisualization==5.15.5
PyQtDataVisualization-Qt5==5.15.2
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.0
requests==2.23.0
scikit-learn==1.2.2
scipy==1.11.0
shiboken6==6.5.1.1
six==1.16.0
SQLAlchemy==2.0.19
threadpoolctl==3.1.0
typing==3.7.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.25.11
