QWidget
{
    background-color: rgb(197, 194, 194);
    background-color: rgb(16,22,22);
    color: white;
}

QLabel#heading
{
    /* background-color: yellow; */
    color: yellow;
    font-family: consolas;
    font-size: 30px;
    padding: 2px 0;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    font:bold;
}
QLabel
{
    /* background-color: red; */
    font-family: arial;
    font-size: 20px;
    border: 2px solid gray;
}
